.dark-mode {
    background: #2a2a39 !important;
    color: white !important;
}

.light-mode {
    background: #f8f3e3 !important;
    color: #2a2a39 !important;
}

.toggle {
    float: right !important;
    width: 45px !important;
    height: 25px !important;
    margin: 31px 25px !important;
    border-radius: 30px !important;
    font-size: 16px !important;
    display: flex !important;
    text-align: center !important;
    align-items: center !important;
    cursor: pointer !important;
    background: #f8f3e3 !important;
    color: black !important;
}

.circle {
    width: 20px !important;
    height: 20px !important;
    transform: translateX(2px) !important;
    border-radius: 30px !important;
    transition: 0.4s !important;
    position: absolute !important;
    background: #b53e65 !important;
}

.dark-mode .circle {
    transform: translateX(23px) !important
}

.toggle-moon, .toggle-sun {
    width: 50% !important;
}