@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: background-color 0.4s;
}

html {
    transition: background-color 0.4s;
}

body {
    font-family: 'Poppins', sans-serif;
}

#header{
    background-color: #b53e65;
}

.header-logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    float: left;
    padding: 25px 30px;
}

.footer-logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    float: left;
}

.navbar a {
    color: grey;
}

.navbar li :hover {
    color: #383735;
}

.datetime {
    font-family: 'Poppins', sans-serif;
    float: right;
    font-weight: bold;
    margin: 35px 25px;
}

.datetime-masukan {
    float: right;
    font-weight: bold;
    margin: 35px 25px;
}

.profil {
    text-decoration: none;
    color: #000;
    float: right;
}

.profil a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 34px 37px;
    color: #000;
    text-decoration: none;
}

.profil ul li a {
    padding: 20px 10px;
}

.profil:hover, .profil:focus {
    background: #ead9b5;
}

.profil ul li :hover {
    background: #ead9b5;
}

.profil-toggle {
    display: inline-block;
}

.profil-toggle:hover .dropdown-profil {
    display: block;
}

.dropdown-profil {
    padding: none;
    display: none;
    list-style: none;
    z-index: 1;
    background-color: #f9f9f9;
}

.show {
    display:block;
}

.search {
    margin: 20px;
    display: inline-block;
    position: relative;
}

.search:after {
    content: "";
    background: #b53e65;
    width: 2px;
    height: 10px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.search input {
    color: #000;
    font-size: 16px;
    background: transparent;
    margin-top: 14px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: solid 2px #b53e65;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search input::placeholder {
    color: #000;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search input:focus::placeholder{
    opacity: 1;
}

.search input:focus,
.search input:not(:placeholder-shown) {
    width: 250px;
}

.search-submit {
    background-color: transparent;
    font-size: 16px;
    border: none;
}

.main {
    height: 1200px;
}

.main img{
    width: 100%;
    height: 100%;
}

.main-login {
    height: 750px;
}

.main-regis {
    height: 800px;
}

.main-contact {
    height: 100%;
}

.main-admin {
    height: 1200px;
    background-image: url('../image/gahwabg.png');
}


.copy-container {
    text-align: center;
}

.content{
    height: 500px;
    margin-top: 50px;
}

.content-item{
    float: left;
    margin-right: 40px;
    margin-left: 20px;
}

.content-item img {
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
    width: 225px;
    height: 225px;
    border-radius: 5px;
}

.content-item li{
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    padding-left: 0px;
}

.nama-produk:hover {
    transition: 0.1s;
    border-bottom: 3px solid #b53e65;
}

.content-item a{
    text-decoration: none;
    color: #b53e65;
}

.content-item input {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 20px;
    background: #b53e65;
    border: none;
}

#section-title{
    border-bottom: 2px solid #b53e65;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.hamburger {
    margin: 0;
    padding: 0;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    display: flex;
}

.hamburger .logo-hamburger {
    font-size: 24px;
    font-weight: bold;
    color: #b53e65;
    text-decoration: none;
}

.hamburger .toggle-hamburger {
    margin-right: 15px;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 700px;
    background: #f9beaf;
    text-align: left;
    font-size: 20px;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s;
}

.sidebar.open {
    transform: rotate3d(0, 0, 1, 0deg);
}

.sidebar ul{
    list-style: none;
}

.sidebar li:hover {
    background: #0000003f;
}

.sidebar li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.hamburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2.5px;
}

.hamburger-menu span:nth-child(2) {
    top: 11px;
}

.hamburger-menu span:nth-child(3) {
    top: 21px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#footer {
    background-color: #f9beaf;
}

.footer-list li:hover a {
    transition: 0.1s;
    border-bottom: 2px solid black;
}

#sosmed-footer {
    float: right;
    padding: 55px 20px;
    font-weight: bold;
}

.sosmed-container{
    float: right;
}

.sosmed-container a {
    text-decoration: none;
    padding: 5px;
}

.sosmed-container ul {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    left: 82%;
}

.sosmed-container ul li {
    float: right;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 9px;
}

.sosmed-container ul li span {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a39;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px !important;
}

.sosmed-container ul li:hover span {
    transition: .3s;
}

.sosmed-container ul li:nth-child(1):hover span {
    background: #cc296c !important;
}

.sosmed-container ul li:nth-child(2):hover span {
    background: green !important;
}

.sosmed-container ul li:nth-child(3):hover span {
    background: #2c3456 !important;
}

.copyright :hover a {
    transition: 1s;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 820px) { 
    .header img {
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 30px;
        width: 40px;
        height: 40px;
    }
    
    .header-logo {
        font-size: 16px;
        padding: 35px 10px 25px 5px;
    }
    
    .navbar{
        font-size: 14px;
    }
    
    .navbar ul li a {
        padding: 36px 10px;
    }

    .profil {
        margin: 5px;
        font-size: 12px;
    }

    .datetime {
        font-size: 12px;
    }  
}

@media screen and (max-width: 460px){
    .toggle {
        margin: 27px 10px;
        width: 30px;
        height: 15px;
        font-size: 10px;
    }
    
    .circle {
        width: 14px;
        height: 14px;
    }

    .dark-mode .circle {
        transform: translateX(15px)
    }

    .header {
        height: 70px;
    }
    
    .header img {
        padding-top: 20px;
        padding-left: 10px;
        height: 30px;
        width: 30px;
    }

    .header-logo {
        font-size: 14px;
        padding-top: 25px;
        padding-right: 10px;
    }

    .navbar {
        height: 70px;
    }

    .navbar ul li a {
        padding: 28px 15px;
    }

    .navbar ul li {
        font-size: 10px;
    }

    .main {
        height: 800px;
    }

    .content {
        margin-top: auto;
    }

    .section-title {
        padding-top: 10px;
    }

    .content-item {
        margin-right: 20px;
        margin-left: 10px;
    }

    .content-item img {
        width: 100px;
        height: 100px;
    }

    .content-item p{
        font-size: 14px;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .footer {
        height: 100px;
        padding: 10px;
    }

    .footer img {
        padding-top: 10px;
        padding-left: 1px;
        height: 30px;
        width: 30px;
    }

    .footer-logo {
        font-size: 16px;
        padding-top: 11px;
    }

    .footer-list {
        font-size: 12px;
    }

    .footer-list ul li {
        padding: 10px 10px;
        margin-top: 30px;
    }


}

